body {
    font-size: 20px;
    background: #ddd;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2.1em;
}

h3 {
    font-size: 1.7em;
}

h4 {
    font-size: 1.3em;
}

h5 {
    font-size: 1em;
}

h6 {
    font-size: 0.85em;
}

pre {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 0.85em;
}

figure {
    padding: 4px;
    border: 2px solid #ddd;
    margin-bottom: 5px;
}

figcaption {
    font-size: 0.8em
}

.scroll {
    overflow-y: auto;
}

.chapter-heading {
    font-size: 1.5em;
}

.inline-code {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 0.85em;
    background-color: #f5f5f5;
}

.foot-nav {
	font-size: 0.7em;
}
